# Documentation: http://docs.travis-ci.com/user/languages/julia/

branches:
  only:
  - master
  - staging
  - trying
  - /^release\/.*$/ # release branches
  - /^v[0-9]+\.[0-9]+\.[0-9]+$/ # version tags

env:
  global:
    STOPGAPCONTAINERS_TESTS="all"

julia:
  - "1.3"
  - "1"
  - nightly

language: julia

matrix:
  allow_failures:
    # - julia: nightly
  fast_finish: true

notifications:
  email: false

os:
  - linux

services:
  - docker

script: julia --code-coverage --inline=no -e 'using Pkg; Pkg.build(); Pkg.test(coverage=true)'

after_success:
  - julia -e 'using Pkg; Pkg.add("Coverage"); using Coverage; Codecov.submit(process_folder())'
